body
{
	margin:100;
	padding:0;
	text-align:center;	
	background-color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#545454;
	font-size:13pt;
}
#cave
{
	position: fixed;
	z-index: -1;
	top:0;
	left:0;
	min-width: 100%
	min-height: 100%;
}

h1.title{
	z:index: 1;
}