body{
	margin:100;
	padding:0;
	text-align:center;	
	background-color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	
	font-size:13pt;
}

.map{
	float: right;
	margin-left: 200;
}
#cave
{
	position: fixed;
	z-index: -1;
	top:0;
	left:0;
	min-width: 100%
	min-height: 100%;
}

h1.title{
	z:index: 1;
}

.countries{
	fill: white;
	stroke: #989898 ;
	stroke-width: 2px;
}

.county{
	stroke: red;
	fill:red;
	stroke-width: 2px;
}

.selector{ 
    width: 100px;
}

#batpic{
	float: top;
	width: 200px;
	height: 200px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#batpic img{
	position: center;
	width: 100%;
	height: auto;
}

#battext {
	height: auto;
}

#tabs {
	float: left;
	height: auto;
	width: 400px;

